hr{color: #489BBD; }

/* Activer responsive*/
@media screen and (max-width: 1000px){
    #carousel,.carousel,.carousel .carousel-inner .carousel-item{height: 200px}
    .carousel-item{align-self: center}
}
#carousel,.carousel,.carousel .carousel-inner .carousel-item{height: 300px}


.add{float: right}
.card-img-top{position: relative;height: 150px}
#sort{float: right;}
.sort{text-decoration: none;color: #E09426;border-color: #E09426;margin-top: 15px; border-radius: 20px}
